body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .landing-page {
    position: relative;
    min-height: 100vh;
    background-color: #64e484;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .content {
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  .navbar {
    background-color: green; 
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-item:last-child {
    margin-right: 0; 
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
  }

.temp {
  background-color: #64e484;
}
:root {
  --green-main: green; 
  --green-dark: #16a085; 
}


.content-section {
  background-color: var(--green-main);
  color: white;
  padding: 30px;
}

.content-text {
  text-align: left;
}

.content-text h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.content-text p {
  font-size: 16px;
}

.section-divider {
  border-bottom: 1px solid #ccc; 
  margin: 40px 0; 
  margin-top: 90px;
}


@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

.contai {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 800px;
  height: 500px;
  font-family: "Figtree", sans-serif;
  transition: all 400ms;
  margin-left: 300px;
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::after{
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.contai:hover .box{
  filter: grayscale(100%) opacity(24%);
}

.box:hover::after{
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

.contai .box:hover{
  filter: grayscale(0%) opacity(100%);
}

.contai:has(.box-1:hover){
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.contai:has(.box-2:hover){
  grid-template-columns: 1fr 3fr 1fr 1fr;
}
.contai:has(.box-3:hover){
  grid-template-columns: 1fr 1fr 3fr 1fr;
}
.contai:has(.box-4:hover){
  grid-template-columns: 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even){
  transform: translateY(16px);
}